RewriteEngine On
RewriteRule ^([A-Za-z0-9-]+)/?$   home.php?query=$1  [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$   home.php?query=$1&val=$2  [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)?$   home.php?query=$1&val=$2&subquery=$3  [NC,L]